.navbar-left {
  border-right: 3px solid #F1F1F1 ;
  position: fixed;
  width: 7em;
  height: 110%;
  margin-top: -2.5em;
  background-color: #ffffff;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;


  * {
    color: #00000080;
  }

  .brand {
    //display: inline-flex;
    padding-top: 0.5rem;
    margin-left: auto;
    padding-left: 0rem;
    padding-right: 0rem;

    img {
      display: block;
      margin-left: auto;
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }

  .banner-top {
    padding-top: 2.5rem;
    margin-left: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .banner-bottom {
    padding-top: 0rem;
    margin-left: 0rem;
    padding-left: 0.45rem;
    padding-right: 0rem;
    position: fixed;
    bottom: 0;
  }
}

.navbar {
  padding-top: 5rem;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 10px;
  color: #F1F1F1;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #fff;
}

/* Current/active navbar link */
.active {
  color: #004070 !important;
}
