<div class="navbar-left" *ngIf="auth.isLoggedIn$ | async">
  <div class="row">
    <div class="col-md-12">
      <div class="banner-top">
            <img src="../../../../assets/images/dashboard/navbarleft-01.PNG" class="w-100"
              alt="BANNER-top">
        </div>

        <div class="navbar">
          <a  href="/"><i class="material-icons">home</i></a>
          <a href="/property"><i class="active material-icons">apartment</i></a>
          <a  href="/"><i class="material-icons">calendar_month</i></a>
          <a  href="/"><i class="material-icons">assessment</i></a>
          <a  href="/"><i class="material-icons">dashboard</i></a>
          <a  href="/"><i class="material-icons">help</i></a>
        </div>

        <div class="banner-bottom">
            <img src="../../../../assets/images/dashboard/navbarleft-02.PNG" class="w-100" alt="BANNER-bottom">
        </div>
    </div>
  </div>
</div>
