.navbar-inmuebles {
  background-color: #ffffff;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 100%;

  .no-border {
    outline: none !important;
    box-shadow: none !important;
  }

  .aling-on-block {
    display: flex !important;
    align-items: center !important;
    justify-content: left !important;
  }

  .session {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
  }

  .dropdownmenu {
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;

      a {
        background: #ffffff;
        color: #484848;
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
      }
    }

    .dropdown-menu {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      a {
        background-color: #ffffff;
        color: #484848;
        padding: 0.865rem;
      }

      a:hover {
        color: #004070;
        font-weight: 800;
      }
    }
  }
}
