<div class="navbar-inmuebles" *ngIf="auth.isLoggedIn$ | async">
  <div class="container pl-0 pr-0">
    <div class="pl-0 pr-0 col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-row justify-content-between">

      <div class="d-flex justify-content-start">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group" style="width: 300%; padding: 1em 0.75em;">
                  <input id="buscador_header" type="text" class="form-control" placeholder="Buscar"/>
                  <button type="button" class="btn btn-secondary" style="padding: 0rem 0.5rem; border-radius:0;">
                    <i class="material-icons">search</i>
                  </button>
                </div>
            </div>
        </div>
    </div>

      <div *ngIf="usuario$ | async as usuario" class="session">
        <div class="d-flex justify-content-end">

          <nav class="dropdownmenu" aria-label="Menu">
            <ul>
              <li>
                <div class="dropdown" style="background-color: #C6C694;">
                  <button type="button" class="btn no-border aling-on-block dropdown" style="color: #ffffff !important; padding: 1em 0.75em;" id="menuIzquierda"
                    data-toggle="dropdown">
                    <span class="material-icons alinear">
                      manage_accounts </span>
                      Herramientas
                  </button>
                  <!-- <div class="dropdown-menu dropdown-menu-lg-left" aria-labelledby="menuIzquierda">
                    <a class="dropdown-item" routerLink="">
                      <span class="label">Inicio</span>
                    </a>
                    <a class="dropdown-item" routerLink="property">
                      <span class="label">Property</span>
                    </a>
                  </div> -->
                </div>
              </li>
            </ul>
          </nav>

          <nav class="dropdownmenu" aria-label="Menu-Usuario">
            <ul>
              <li>
                <div class="dropdown">
                  <button type="button" style="padding: 1em 0.75em;" class="btn no-border aling-on-block dropdown-toggle" id="menuDerecha"
                    data-toggle="dropdown">
                    <span class="material-icons alinear">
                      account_circle</span>{{usuario.user}}
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menuDerecha">
                    <a class="dropdown-item aling-on-block disabled" routerLink="mis-datos">
                      <span class="material-icons alinear">
                        account_circle</span>
                      {{usuario.user}}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="aling-on-block" href="javascript:void(0);" (click)="logout()">
                      <span class="material-icons alinear">login</span>Salir
                    </a>
                  </div>
                </div>
              </li>
              <li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>

