.inmuebles-rectangle-form {
  /* UI Properties */
  max-width: 90em;
  margin: 0 auto;
  background: var(--light-🌕-on-primary-high-emphasis-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0pt 8pt 10pt #00000024;
  border-radius: 4pt;
  opacity: 1;
}

.inmuebles-texto-bienvenida {
  /* UI Properties */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0pt;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: #200C2D;
  opacity: 1;
}

.inmuebles-login__form {
  max-width: 36.5em;
  margin: 0 auto;

  .recaptcha {
    margin-top: 1.35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.inmuebles-texto-footer{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0pt;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 32px;
    color: #232322;
    opacity: 1;
}

.inmuebles-footer {
  padding-top: 15em;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#191919', endColorStr='#000000');
  position: relative;
  bottom: 0;
  width: 100%;
}

.inmuebles-header {
    padding-top: 0rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    width: 100%;
    height: auto;

    * {
      color: #ffffff !important;
    }

    .brand {
      display: inline-flex;
      padding-top: 0.5rem;
      margin-left: auto;
      padding-left: 0rem;
      padding-right: 0rem;

      img {
        display: block;
        margin-left: auto;
        max-width: 100%;
        height: auto;
        width: 100%;
      }
    }

    .banner-left {
      float: left;
      height: auto;
    }

    .banner-right {
      float: right;
    }
}

// Small devices (landscape phones, less than 576px)
@media (max-width: 575.98px) {
  .inmuebles-login__form {
    max-width: 25em !important;
  }
}

// Medium devices (tablets, less than 1024px)
@media (max-width: 1024.98px) {
  .inmuebles-login__form {
    max-width: 30em;
  }
}
