<div class="inmuebles-header">
  <div class=" pl-0 pr-0 pt-0 pb-0 row no-gutters">
    <div class="pl-0 pr-0 pt-0 pb-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="banner-left ml-4">
            <img src="../../../../assets/images/dashboard/header-01.PNG" class="w-100"
              alt="BANNER-LEFT">
          </div>
        <div class="banner-right mr-4">
            <img src="../../../../assets/images/dashboard/header-02.PNG" class="w-100" alt="BANNER-RIGHT">
        </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>


<h2 class="inmuebles-texto-bienvenida">Bienvenido</h2>

<br>

<div class="inmuebles-rectangle-form">
  <div class="container pt-2">
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="mt-4" autocomplete="off">

      <div class="row">
        <div class="form-group col-md-4">
          <label for="usuario">Ingrese el usuario con el que opera en el banco</label>
          <input id="usuario" type="text" inmueblesValidadorError class="form-control"
            placeholder="Usuario" formControlName="usuario" />
          <inmuebles-mensajes-formulario [formulario]="loginForm" [control]="'usuario'"
            [validaciones]="camposForm[0].messages">
          </inmuebles-mensajes-formulario>
        </div>
        <div class="form-group col-md-4">
          <label for="contrasenia">Contraseña</label>
          <input id="contrasenia" type="text" inmueblesValidadorError class="form-control"
            placeholder="Contraseña" formControlName="contrasenia" type="password"/>
          <inmuebles-mensajes-formulario [formulario]="loginForm" [control]="'contrasenia'"
            [validaciones]="camposForm[1].messages">
          </inmuebles-mensajes-formulario>
        </div>
        <div class="form-group col-md-4">
          <label for="codigoAcceso">Código de Acceso</label>
          <input id="codigoAcceso" type="text" icfesValidadorError class="form-control"
            placeholder="Código de Acceso" formControlName="codigoAcceso" type="password" minlength="4" maxlength="10" />
          <inmuebles-mensajes-formulario [formulario]="loginForm" [control]="'codigoAcceso'"
            [validaciones]="camposForm[2].messages">
          </inmuebles-mensajes-formulario>
        </div>
    </div>

      <div class="recaptcha">
        <div>
          <re-captcha *ngIf="CAPTCHA==1" formControlName="recaptcha" [siteKey]="SITE_KEY">
          </re-captcha>
        </div>
        <inmuebles-mensajes-formulario [formulario]="loginForm" [control]="'recaptcha'"
          [validaciones]="camposForm[3].messages">
        </inmuebles-mensajes-formulario>
      </div>
      <div class="d-flex justify-content-left">
        <button type="button" class="btn btn-link mt-2">RECUPERAR CONTRASEÑA</button>
        <button type="button" class="btn btn-link mt-2">SOLICITAR ACCESO</button>
        <button type="submit" class="btn-round btn-high mt-4">SIGUIENTE</button>
      </div>
    </form>
  </div>
</div>


<div class="inmuebles-footer">
  <div class="d-flex justify-content-center">
    <span class="inmuebles-texto-footer">2022 - Gestión de inmuebles - Banco de la República® - Todos los derechos reservados</span>
  </div>
</div>

