@charset "UTF-8";

.btn-round {
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  padding: 0.535em 3em;
  white-space: pre-line;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.5 !important;
  margin: 1rem 0.5rem;
  background: #004070;
  box-sizing: border-box;
  /* identical to box height */
  //display: flex;
  align-items: center;
  text-align: center;
}

.btn-round-small {
  border-radius: 35px;
  border: 1px solid #b3b3b3;
  padding: 0.735em 1em;
  white-space: pre-line;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  line-height: 17px !important;
  margin: 1rem 0.5rem;
  background: #004070;
  box-sizing: border-box;
  /* identical to box height */
  //display: flex;
  align-items: center;
  text-align: center;
}

.btn-high {
  background: #004070 !important;
  border-color: #b3b3b3;
  color: #ffffff;
}
.btn-high.inactive {
  background-color: #bababa !important;
  border-color: #bababa !important;
  cursor: default !important;
}

.btn-high:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ffffff00;
}

.btn-high:active,
.btn-high:hover {
  background-color: #172942 !important;
  border-color: #484848 !important;
  color: white !important;
}

.btn-link {
  color: #004070 !important;
  font-size: 0.9375rem !important;
  font-weight: 600 !important;
}
