.swal2-popup {
    .swal2-styled{
        border-radius: 30px !important;
        padding: 0.535em 2em;
        white-space: pre-line;
        border: 1.5px solid !important;
        font-family: "Montserrat", sans-serif;
        font-size: 0.9375rem !important;
        font-weight: 500;
        color: #ffffff;
        line-height: 1.5 !important;
        margin: 1rem 0.5rem;
    }
    .swal2-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        padding: 0 2rem;
        font-weight: 500;
        color: #484848;
    }
    .swal2-html-container {
        padding: 0;
    }
    .swal2-confirm{
      background-color: #ffffff !important;
      border-color: #b3b3b3 !important;
      color: #484848 !important;
      border-radius: 35px !important;
      border: 1px solid #b3b3b3 !important;
      white-space: pre-line !important;
      font-size: 0.9375rem !important;
      line-height: 1.5 !important;
      margin: 1rem 0.5rem !important;
      box-sizing: border-box !important;
        }
    .swal2-cancel{
      background-color: #484848 !important;
      border-color: #b3b3b3 !important;
      color: #ffffff !important;
      border-radius: 35px !important;
      border: 1px solid #b3b3b3 !important;
      white-space: pre-line !important;
      font-size: 0.9375rem !important;
      line-height: 1.5 !important;
      margin: 1rem 0.5rem !important;
      box-sizing: border-box !important;
    }
    .swal2-actions{
        &:not(.swal2-loading){
            .swal2-styled:hover{
              background-color: #E81F76 !important;
              border-color: #b3b3b3 !important;
              color: #ffffff !important;
            }
        }
    }
}
.popup-confirm{
    .icon-confirm {
        color: #0084CE;
        border-color: rgb(255, 255, 255) !important;

        [class^=swal2-success-line]{
            background-color: rgb(255, 255, 255) !important;
            z-index: 3 !important;
        }
        .swal2-success-ring{
            border-color: rgb(255, 255, 255) !important;
            background: #0084CE !important;
        }
    }
    .swal2-icon.swal2-warning {
      background: #E81F76;;

      .swal2-icon-content {
        color: #fff;
      }
    }
}
.popup-error{
    .icon-error {
        background-color: rgb(168, 5, 33);
        border-color: rgb(255, 255, 255) !important;
        color: rgb(168, 5, 33);

        [class^=swal2-x-mark-line]{
            background-color: rgb(255, 255, 255) !important;
        }
    }
    .swal2-title{
        color: rgb(168, 5, 33);
    }
}
.popup-info{
    padding: 2rem 1rem !important;
    .swal2-header {
        align-items: normal !important;
        .swal2-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            color: #484848;
            text-align: left !important;
        }
    }
    .swal2-content {
        text-align: left !important;
    }
}
.swal2-content{
  display: contents;
}
