.hr-inmuebles-nt {
  margin-top: 0rem;
  border: 1px solid #e6e6e6;
}

.hr-inmuebles {
  border: 1px solid #e6e6e6;
}

.aling-on-block {
  display: flex !important;
  align-items: center !important;
  justify-content: left !important;
}

.no-border {
  outline: none !important;
  box-shadow: none !important;
}
