<div class="modal-header">
  <h4 class="modal-title titulo-modal">Property</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="propertyForm" (ngSubmit)="submit()" class="mt-4" autocomplete="off">

  <div class="modal-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="container-fluid">

        <div class="row">
          <div class="form-group col-md-6">
            <label for="p_code">Code</label>
            <input id="p_code" type="text" inmueblesValidadorError class="form-control"
              placeholder="valor de code" formControlName="p_code" />
            <inmuebles-mensajes-formulario [formulario]="propertyForm" [control]="'p_code'"
              [validaciones]="camposForm[0].messages">
            </inmuebles-mensajes-formulario>
          </div>

          <div class="form-group col-md-6">
            <label for="p_codeSAP">Code SAP</label>
            <input id="p_codeSAP" type="text" inmueblesValidadorError class="form-control"
              placeholder="valor de code SAP" formControlName="p_codeSAP" />
            <inmuebles-mensajes-formulario [formulario]="propertyForm" [control]="'p_codeSAP'"
              [validaciones]="camposForm[1].messages">
            </inmuebles-mensajes-formulario>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="p_name">Name</label>
            <input id="p_name" type="text" inmueblesValidadorError class="form-control"
              placeholder="valor de name" formControlName="p_name" />
            <inmuebles-mensajes-formulario [formulario]="propertyForm" [control]="'p_name'"
              [validaciones]="camposForm[2].messages">
            </inmuebles-mensajes-formulario>
          </div>

          <div class="form-group col-md-6">
            <label for="p_type">Type</label>
            <input id="p_type" type="text" inmueblesValidadorError class="form-control"
              placeholder="valor de type" formControlName="p_type" />
            <inmuebles-mensajes-formulario [formulario]="propertyForm" [control]="'p_type'"
              [validaciones]="camposForm[3].messages">
            </inmuebles-mensajes-formulario>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="p_phonne">Phonne</label>
            <input id="p_phonne" type="text" inmueblesValidadorError class="form-control"
              placeholder="valor de phonne" formControlName="p_phonne" />
            <inmuebles-mensajes-formulario [formulario]="propertyForm" [control]="'p_phonne'"
              [validaciones]="camposForm[4].messages">
            </inmuebles-mensajes-formulario>
          </div>

          <div class="form-group col-md-6">
            <label for="p_streetAddress">Street Address</label>
            <input id="p_streetAddress" type="text" inmueblesValidadorError class="form-control"
              placeholder="valor de street address" formControlName="p_streetAddress" />
            <inmuebles-mensajes-formulario [formulario]="propertyForm" [control]="'p_streetAddress'"
              [validaciones]="camposForm[5].messages">
            </inmuebles-mensajes-formulario>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label for="p_constructionYear">Construction Year</label>
            <input id="p_constructionYear" type="text" inmueblesValidadorError class="form-control"
              placeholder="valor de costruction year" formControlName="p_constructionYear" />
            <inmuebles-mensajes-formulario [formulario]="propertyForm" [control]="'p_constructionYear'"
              [validaciones]="camposForm[6].messages">
            </inmuebles-mensajes-formulario>
          </div>

          <div class="form-group col-md-6">
            <label for="p_useFulLife">Useful Life</label>
            <input id="p_useFulLife" type="text" inmueblesValidadorError class="form-control"
              placeholder="valor de useful life" formControlName="p_useFulLife" />
            <inmuebles-mensajes-formulario [formulario]="propertyForm" [control]="'p_useFulLife'"
              [validaciones]="camposForm[8].messages">
            </inmuebles-mensajes-formulario>
          </div>
        </div>

          <div class="form-group">
            <label for="p_area">Area</label>
            <input id="p_area" type="text" inmueblesValidadorError class="form-control"
              placeholder="valor de area" formControlName="p_area" />
            <inmuebles-mensajes-formulario [formulario]="propertyForm" [control]="'p_area'"
              [validaciones]="camposForm[7].messages">
            </inmuebles-mensajes-formulario>
          </div>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Agregar</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Close</button>
  </div>
</form>
