<ng-container *ngFor="let validation of validaciones">
    <span *ngIf="controlNoValido" [class.invalid-field]="controlNoValido" >
        <p *ngIf="formulario.controls[control].errors[validation.error]" class="label-error mt-1 p-0">
        {{validation.message}}
        </p>
    </span>
</ng-container>