<header *ngIf="auth.isLoggedIn$ | async">
  <div class="container">
    <div class="pl-0 pr-0 pt-0 pb-0 col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-row justify-content-between">
      <div class="d-flex justify-content-start">
        <h2 class="title">{{config.titulo}}</h2>
      </div>
      <div class="d-flex justify-content-center mt-4">
          <div class="row">
              <div class="col-md-12">
                  <div class="input-group" style="width: 115%;">
                    <input id="buscador_header" style=" color: #000000 !important;" type="text" class="form-control" placeholder="Buscar"/>
                    <button type="button" class="btn btn-secondary" style="padding: 0rem 0.5rem; border-radius:0;">
                      <i class="material-icons">search</i>
                    </button>
                  </div>
              </div>
          </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn-round btn-high mt-4">BUSCADOR AVANZADO</button>
      </div>
    </div>
  </div>
</header>
