header {
  border-top: 5px solid #F1F1F1 ;
  border-bottom: 3px solid #004070 ;
  padding-top: 0rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 100%;
  height: auto;

  * {
    color: #FFFFFF !important;
  }

  .title {
    color: #004070 !important;
    padding: 2rem 0 0.5rem 0;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
  }

  .input-buscador{
    color: #004070 !important;
    background: var(--light-🌕-on-primary-high-emphasis-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 31px;
    opacity: 1;
  }
}
