<div *ngIf="(auth.isLoggedIn$ | async) == false" class="pl-0 pr-0 pt-0 pb-0">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<div *ngIf="(auth.isLoggedIn$ | async) == true" class="container pl-0 pr-0 pt-0 pb-0">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
