/* You can add global styles to this file, and also import other style files */

//style
@import 'assets/scss/_buttons.scss';
@import 'assets/scss/_containers.scss';
@import 'assets/scss/_fonts.scss';
@import 'assets/scss/_label.scss';
@import 'assets/scss/_mensajes-modal.scss';
@import 'assets/scss/_others.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";
html, body {
  height: auto !important;
}
body {
  margin: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal !important;
  font-size: 12px !important;
  color: #484848 !important;

  .boton-cerrar-modal{
    position: absolute;
    top: -24px;
    right: -107px;
}
}
.altoContraste{
  -webkit-filter:invert(1);
  filter:invert(1);
  background-color:#fff
}
@-moz-document url-prefix(){
  .altoContraste{
    mix-blend-mode:difference;
    background-color:#fff;filter:none
  }
}
