<div class="fijados">
  <button (click)="contraste()" class="botonAcces">
    <img alt="cambiar contraste" height="20px" src="assets/images/contraste.svg">
  </button>
  <button (click)="mas()" class="botonAcces">
    <img alt="aumentar fuente" height="20px" src="assets/images/aumentarFuente.svg">
  </button>
  <button (click)="menos()" class="botonAcces">
    <img alt="reducir fuente" height="20px" src="assets/images/reducirFuente.svg">
  </button>
</div>
