.fijados {
  position: fixed;
  right: 0;
  top: 50%;
  width: 5em;
  margin-top: -2.5em;
}

.botonAcces {
  padding: 8px;
  display: block;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
