<div class="pl-0 pr-0">
  <div class="pl-0 pr-0 pt-0 pb-0 col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-row justify-content-between">
  </div>
  <div class="row d-flex align-items-center no-gutters">
    <div class="container">
          <div class="card-body">
            <button type="button" class="btn-round btn-high"(click)="abrirModal()">Agregar</button>
            <br>
            <br>
            <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                  <tr>
                      <th>Code</th>
                      <th>Code SAP</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Phone</th>
                      <th>Street Address</th>
                      <th>Construction Year</th>
                      <th>Area</th>
                      <th>Useful Life</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let property of listProperty">
                      <td>{{ property.code }}</td>
                      <td>{{ property.codeSAP }}</td>
                      <td>{{ property.name }}</td>
                      <td>{{ property.type }}</td>
                      <td>{{ property.phonne }}</td>
                      <td>{{ property.streetAddress}}</td>
                      <td>{{ property.constructionYear}}</td>
                      <td>{{ property.area}}</td>
                      <td>{{ property.useFulLife}}</td>
                      <td><button type="button" class="btn btn-danger"(click)="removeProperty(property)">Eliminar</button></td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  </div>
