footer {
  padding-top: 0.45rem;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#191919', endColorStr='#000000');
  position: relative;
  bottom: 0;
  width: 100%;

  * {
    color: #232322 !important;
  }

  .footer-block {
    padding-bottom: 0rem;
  }

  .inmuebles-texto-footer{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0pt;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #232322;
    opacity: 1;
  }
}
