<footer *ngIf="auth.isLoggedIn$ | async">
  <div class="container pl-0 pr-0">
  <div>
    <div style="float: left; position: relative; left: 25%;">
      <br/>
      <label class="inmuebles-texto-footer">2022 - Gestión de inmuebles - Banco de la República® - Todos los derechos reservados</label>
    </div>

    <div style="float: right; align-items: stretch;text-align: right;">
      <div>
        <label class="inmuebles-texto-footer">Banco de la República - Colombia</label>
        <br>
        <label class="inmuebles-texto-footer">Carrera 7 no.14 - 78</label>
        <br/>
        <label class="inmuebles-texto-footer">Bogotá, Colombia</label>
      </div>
    </div>
  </div>
</div>
</footer>
