<inmuebles-navbar-left></inmuebles-navbar-left>
<inmuebles-navbar></inmuebles-navbar>
<inmuebles-header></inmuebles-header>
<inmuebles-content></inmuebles-content>
<!-- <inmuebles-accessibility *ngIf="adentro()"></inmuebles-accessibility> -->
<inmuebles-footer></inmuebles-footer>
